.bgContainer {
  background-color: #fafafb;
  height: 100vh;
}
.container {
  max-width: 20.5rem;
  width: 100%;
}
.headerMobile {
  background-color: white;
  justify-content: center;
  align-items: center;
}
.profileHeader {
  gap: 1rem;
}
.MainHeading {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.menuIcon{
    font-size: 1.7rem;
}
.bellIcon {
 font-size: 1.5rem;
}
.avatarProfile{
    border-radius: 40px;
}
